ion-card{
    width: 100%;
    margin: 0;
}
.align-items-flex-end {
    align-items: flex-end;
    -webkit-align-items: flex-end;
}
ion-grid{
    padding: 20px;
    border: solid 1px rgb(0, 0, 0);
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
}
.text-input {
    text-align: center;
  }

